.icon-container,
.icon-container_light{
    width: 50px !important;
    height: 36px !important;
}
.icon-container_lightSignup,
.icon-containerSignup{
    width: 80px !important;
    height: 36px !important;
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}
